<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
</head>
<body>
    <h1>Todo List</h1>
    <ul>
        {% for todo in todos %}
            <li>
                <a href="{% url 'todo_detail' todo.id %}">{{ todo.title }}</a>
                <form action="{% url 'todo_delete' todo.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'todo_create' %}">Create new Todo</a>
</body>
</html>